.outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 3rem;
}
.box {
  width: 200px;
  height: 150px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
}
